#top-menu
  %ul
    %li= link_to 'Home', root_url
    - if current_logined?
      %li= link_to 'Profile', person_url(:username => current_user.username)
      %li= link_to 'Settings', settings_profile_url
      %li.last= link_to 'Logout', logout_url
    - else
      %li= link_to 'Login', login_url
      %li.last= link_to 'Signup', signup_url
