- content_for :head do
  = javascript_include_tag 'showdown', 'wmd'
  = stylesheet_link_tag 'wmd'

= render :partial => 'topics/subheader'

#reply-form.section
  .section-title
    %h2= t '.new_reply'
  .section-content
    .meta
      = t '.reply_to'
      = @topic.title
    .left-column.avatar
      = link_gravatar_to_person current_user
    .right-column
      = form_for @reply do |f|
        = render :partial => 'form', :object => f
        .field
          = f.submit t('.post'), :class => 'button'
