= render :partial => 'settings/subheader', :locals => {:current => :account}

.section
  .section-content
    = form_for @user, :url => settings_account_url, :method => :put do |f|
      - if !f.object.errors.blank?
        = render :partial => 'share/error_messages', :locals => {:object => f.object}
      %table.form-table
        %tr
          %th= f.label :username
          %td= f.text_field :username, :class => 'text', :maxlength => 20
        %tr
          %th= f.label :email
          %td
            = f.text_field :email, :class => 'text', :maxlength => 100
        %tr
          %th= f.label :locale
          %td
            = f.select :locale, I18n.available_locales.map{|locale| [t(locale), locale]}
        %tr
          %th= f.label :current_password
          %td
            = f.password_field :current_password, :class => 'text'
            .meta= t '.current_password_tips'
        %tr
          %th
          %td= f.submit t('.save'), :class => 'button'
