= render :partial => 'settings/subheader', :locals => {:current => :account}

.section
  .section-content
    = form_for @user, :url => settings_account_url, :method => :put do |f|
      - if !@user.errors.blank?
        .error= @user.errors.full_messages
      %table.form-table
        %tr
          %th= f.label :username
          %td= f.text_field :username, :class => 'text'
        %tr
          %th= f.label :email
          %td
            = f.text_field :email, :class => 'text'
        %tr
          %th
          %td= f.submit 'Save', :class => 'button'
