.item-list
  - @topics.each do |topic|
    .item
      - anchor = (topic.replies_count == 0 ? nil : "replies-#{topic.replies_count}")
      .title= link_to topic.title, topic_url(topic, :anchor => anchor)
      .reply-count= link_to topic.replies_count, topic_url(topic, :anchor => anchor)
      .clear
      .meta
        - if topic.tags
          - topic.tags.each do |tag|
            %span.tag= link_to tag, tagged_topics_url(:tag => tag)
        - if topic.last_replied_by_id
          Replied by
          = link_to_person @user_hash[topic.last_replied_by_id]
        = time_ago_in_words topic.created_at
        = t :ago
        - if topic.closed?
          %span.red= t :closed
      .clear
