.item
  .left-column.avatar
    = link_gravatar_to_person user
  .right-column
    %h3
      = link_to_person user
      - if current_logined? and current_user != user
        .right
          - if current_user.following_ids.to_a.include? user.id
            = button_to t('.unfollow'), follow_person_path(:username => user.username), :class => 'button reverse', :method => :delete
          - else
            = button_to t('.follow'), follow_person_path(:username => user.username), :class => 'button'
    .meta
      = "#{user.followings.count} #{t('.followings')}"
      = "#{user.followers.count} #{t('.followers')}"
