#profile
  .left.avatar= link_gravatar_to_person @person, :size => 128
  .left
    %h1= @person.profile.name
    - if @person.banned?
      = t :this_user_had_been_ban
    - else
      .detail.meta
        - if @person.profile.url
          %p
            = image_tag "/images/icons/home.png", :align => 'top'
            = link_to @person.profile.url, @person.profile.url, :target => '_blank'
        - if @person.profile.twitter
          %p
            = image_tag "/images/icons/twitter.png", :align => 'top'
            = link_to "@#{@person.profile.twitter}", "https://twitter.com/#{@person.profile.twitter}", :target => '_blank'
      .description= sanitize simple_format(auto_link(@person.profile.description))
  .clear

- if !@person.banned? and !@topics.empty? 
  #topics.section
    .section-content
      = render :partial => 'topics'
      .right= link_to t(:read_more), person_topics_url(:username => @person.username), :class => 'button'
      .clear
