#profile
  .left.avatar= link_gravatar_to_person @person, :size => 128
  .left
    %h1= @person.profile.name
    .detail
      - if @person.profile.url
        = link_to @person.profile.url, @person.profile.url, :target => '_blank'
    = sanitize simple_format(auto_link(@person.profile.description))
  .clear

- if !@topics.empty?
  #topics.section
    .section-content
      = render :partial => 'topics'
      .right= link_to t(:read_more), person_topics_url(:username => @person.username), :class => 'button'
      .clear
