- content_for :head do
  = auto_discovery_link_tag :rss, person_topics_path(:username => @person.username, :format => 'rss')

#profile
  .avatar= link_gravatar_to_person @person, :size => 128
  .right-column
    %h1= @person.profile.name
    - if @person.banned?
      = t '.this_user_had_been_ban'
    - else
      .detail.meta
        - if @person.profile.url.present?
          %p
            = image_tag "/images/icons/home.png", :class => 'icon'
            = link_to @person.profile.url, @person.profile.url, :target => '_blank'
        - if @person.profile.twitter.present?
          %p
            = image_tag "/images/icons/twitter.png", :class => 'icon'
            = link_to "@#{@person.profile.twitter}", "https://twitter.com/#{@person.profile.twitter}", :target => '_blank'
      .description= sanitize simple_format(auto_link(@person.profile.description))
  .clear

- if !@person.banned? and !@topics.empty? 
  #topics.section
    .section-content
      = render :partial => 'topics'
      .right= link_to t('.read_more'), person_topics_path(:username => @person.username), :class => 'button'
      .clear
  .section
    .section-content
      .right
        = image_tag 'rss.png', :class => 'icon'
        = link_to t('.subscription_recent_20_topics'), person_topics_path(:format => 'rss')
      .claer
