#profile
  .left.avatar= image_tag @person.gravatar_url(:size => 128)
  .left
    %h1= @person.profile.name
    .detail
      - if @person.profile.url
        = link_to @person.profile.url, @person.profile.url, :target => '_blank'
    = @person.profile.description
  .clear

- if !@topics.empty?
  #topics.section
    .section-content
      = render :partial => 'topics'
      .right= link_to 'Read More...', person_topics_url(:username => @person.username), :class => 'button'
      .clear
