- content_for :head do
  = auto_discovery_link_tag :rss, person_topics_path(:username => @person.username, :format => 'rss')

#profile
  = render :partial => 'profile_head'
- if !@person.banned? and !@topics.empty?
  #topics.section
    .section-content
      = render :partial => 'topics'
      = paginate_for @topics
      .clear
  .section
    .section-content
      .right
        = image_tag 'rss.png', :class => 'icon'
        = link_to t('.subscription_recent_20_topics'), person_topics_path(:format => 'rss')
      .claer
