- content_for :head do
  = auto_discovery_link_tag :rss, person_topics_url(:username => @person.username, :format => 'rss')

#profile
  .left.avatar= link_gravatar_to_person @person, :size => 64
  .left
    %h1
      = link_to_person @person
  .clear

- if !@person.banned? and !@topics.empty?
  #topics.section
    .section-content
      = render :partial => 'topics'
      = paginate_for @topics
      .clear
  .section
    .section-content
      .right
        = image_tag 'rss.png', :align => 'top'
        = link_to t(:subscription_recent_20_topics), person_topics_url(:format => 'rss')
      .claer
