.item
  .left-column.avatar
    = link_gravatar_to_person status.user
  .right-column
    - case status
    - when Status::Reply
      .title
        = link_to_person status.user
        = t '.reply_topic'
        = link_to status.topic.title, status.topic
      .content
        = simple_format truncate(status.reply.content, :length => 140)
    - when Status::Topic
      .title
        = link_to_person status.user
        = t '.create_topic'
        = link_to status.topic.title, status.topic
      .content
        = simple_format truncate(status.topic.content, :length => 140)
