.item
  .left-column.avatar
    = link_gravatar_to_person status.user
  .right-column
    - case status
    - when Status::Reply
      %h3
        = link_to_person status.user
        = t '.replied_topic'
        = link_to status.topic.title, status.topic
        %span.right.meta.quiet= link_to smart_time_string(status.created_at), status_path(status)
      %blockquote
        = simple_format truncate(status.reply.content, :length => 140)
    - when Status::Topic
      %h3
        = link_to_person status.user
        = t '.created_topic'
        = link_to status.topic.title, status.topic
        %span.right.meta.quiet= link_to smart_time_string(status.created_at), status_path(status)
      .clear
      %blockquote
        = simple_format truncate(status.topic.content, :length => 140)
