#subheader
  #mascot
    %img{:src => '/images/mascot.png'}
  = render :partial => 'share/navs'
  #tabs
    %ul
      - if current_logined?
        %li{:class => ((@tab.nil? || @tab == 'feed') ? :current : nil)}
          = link_to t('.feed'), root_path(:tab => 'feed')
        %li{:class => (@tab == 'own' ? :current : nil)}
          = link_to t('.own'), root_path(:tab => 'own')
        %li{:class => (@tab == 'all' ? :current : nil)}
          = link_to t('.all'), root_path(:tab => 'all')
      - else
        %li{:class => (action_name == 'index' ? :current : nil)}
          = link_to t('.all'), root_path
