- @page_title = t(".#{action_name}_page_title")
- @page_title += t(".page_count", :page => params[:page]) if params[:page]

= render :partial => 'subheader'

#statuses
  .item-list
    = render :partial => 'status', :collection => @statuses
  = paginate_for @statuses

- content_for :sidebar do
  = render :partial => 'share/sidebar_new_topic'
