= render :partial => 'admin/nav'

.section
  .section-title
    %h3 Today New
  .section-content
    %table.nice-table
      %tr
        %th Topics
        %td= @today_topics_count
      %tr
        %th Replies
        %td= @today_replies_count
      %tr
        %th Users
        %td= @today_users_count

.section
  .section-title
    %h3 Total
  .section-content
    %table.nice-table
      %tr
        %th Topics
        %td= Topic.count
      %tr
        %th Replies
        %td= Reply.count
      %tr
        %th Users
        %td= User.count
