- @page_title = t('.page_title')

= render :partial => 'admin/nav'

.section
  .section-title
    %h3= t '.today_news'
  .section-content
    %table.nice-table
      %tr
        %th= t '.topics'
        %td= @today_topics_count
      %tr
        %th= t '.replies'
        %td= @today_replies_count
      %tr
        %th= t '.users'
        %td= @today_users_count

.section
  .section-title
    %h3= t '.total'
  .section-content
    %table.nice-table
      %tr
        %th= t '.topics'
        %td= Topic.count
      %tr
        %th= t '.replies'
        %td= Reply.count
      %tr
        %th= t '.users'
        %td= User.count
