.field
  = form.label :title
  = form.text_field :title, :class => 'text title', :maxlength => 100
.field
  = form.label :content
  = form.text_area :content, :class => 'editor'
.field
  = form.label :tags
  = form.text_field :tags, :class => 'text tags'
