- if current_logined?
  .section.favorite-tags
    .section-title
      = t :favorite_tags
    .section-content
      - if current_user.favorite_tags
        %ul
          - current_user.favorite_tags.each do |tag|
            %li= link_to tag, tagged_topics_url(:tag => tag), :class => 'button'
        .clear
      .actions= link_to t(:manage_tags), settings_favorite_tags_url
- if @recent_tags
  .section.recent-tags
    .section-title
      = t :recent_tags
    .section-content
      %ul
        - @recent_tags.each do |tag, count|
          %li
            = link_to tag, tagged_topics_url(:tag => tag), :class => 'button'
            %span.meta
              x
              = count
      .clear
