- remote ||= false
- action = params[:action]

#subheader
  #mascot
    %img{:src => '/images/mascot.png'}
  #loading-notice
    = t '.loading'
  #tabs
    %ul
      %li{:class => (action == 'index' ? :current : nil)}
        = link_to t('.active'), root_url, :remote => remote

      - if current_logined?
        %li.tagged-interesting{:class => (action == 'interesting' ? :current : nil)} 
          = link_to t('.interesting'), interesting_topics_url, :remote => remote
        %li.own-topic{:class => (action == 'own' ? :current : nil)}
          = link_to t('.own'), own_topics_url, :remote => remote

      %li{:class => (action == 'newest' ? :current : nil)}
        = link_to t('.newest'), newest_topics_url, :remote => remote

      - if current_logined?
        %li{:class => (action == 'replied' ? :current : nil)}
          = link_to t('.replied'), replied_topics_url, :remote => remote

        %li{:class => (action == 'collection' ? :current : nil)}
          = link_to t('.collection'), collection_topics_url, :remote => remote

      - if action == 'tagged'
        %li.current
          = link_to @tag, tagged_topics_url(:tag => @tag), :remote => remote
      - if action == 'search'
        %li.current
          = link_to t('.search'), search_url
      - if action == 'notifications'
        %li.current
          = link_to t('.notifications'), notifications_url
  .clear
