- current ||= :none
#subheader
  #mascot
    %img{:src => '/images/mascot.png'}
  #tabs
    %ul
      - if current == :active
        %li.current
          = link_to 'Active', root_url
      - else
        %li
          = link_to 'Active', topics_url

      - if current == :interesting
        %li.tagged-interesting.current
          = link_to 'Interesting', topics_url
      - else
        %li.tagged-interesting
          = link_to 'Interesting', topics_url

      - if current == :own
        %li.own-topic.current
          = link_to 'Own', topics_url
      - else
        %li.own-topic
          = link_to 'Own', topics_url

      - if current == :newest
        %li
          = link_to 'Newest', topics_url
      - else
        %li
          = link_to 'Newest', topics_url

      - if current == :collect
        %li
          = link_to 'Collect', topics_url
      - else
        %li
          = link_to 'Collect', topics_url
  .clear
