#subheader
  #mascot
    %img{:src => '/images/mascot.png'}
  = render :partial => 'share/navs'
  #tabs
    %ul
      %li{:class => ((action_name == 'index' && @tab.nil? || @tab == 'active') ? :current : nil)}
        = link_to t('.active'), topics_path(:tab => 'active')
      %li{:class => (@tab == 'newest' ? :current : nil)}
        = link_to t('.newest'), topics_path(:tab => 'newest')

      - if current_logined?
        %li.tagged-interesting{:class => (@tab == 'interesting' ? :current : nil)} 
          = link_to t('.interesting'), topics_path(:tab => 'interesting')
        %li.own-topic{:class => (@tab == 'own' ? :current : nil)} 
          = link_to t('.own'), topics_path(:tab => 'own')
        %li{:class => (@tab == 'replied' ? :current : nil)} 
          = link_to t('.replied'), topics_path(:tab => 'replied')
        %li{:class => (@tab == 'collection' ? :current : nil)} 
          = link_to t('.collection'), topics_path(:tab => 'collection')

      - if action_name == 'tagged'
        %li.current
          = link_to @tag, tagged_topics_path(:tag => @tag)
      - if action_name == 'search'
        %li.current
          = link_to t('.search'), search_path
