#subheader
  #mascot
    %img{:src => '/images/mascot.png'}
  #tabs
    %ul
      %li{:class => (@current == 'statuses' ? :current : nil)}
        = link_to t('.statuses'), root_path
      %li{:class => (@current == 'active' ? :current : nil)}
        = link_to t('.active'), topics_path
      %li{:class => (@current == 'newest' ? :current : nil)}
        = link_to t('.newest'), newest_topics_path

      - if current_logined?
        %li.tagged-interesting{:class => (@current == 'interesting' ? :current : nil)} 
          = link_to t('.interesting'), interesting_topics_path
        - if @current == 'own'
          %li.current
            = link_to t('.own'), own_topics_path
        - if @current == 'replied'
          %li.current
            = link_to t('.replied'), replied_topics_path
        - if @current == 'collection'
          %li.current
            = link_to t('.collection'), collection_topics_path

      - if @current == 'tagged'
        %li.current
          = link_to @tag, tagged_topics_path(:tag => @tag)
      - if @current == 'search'
        %li.current
          = link_to t('.search'), search_path
      - if @current == 'notifications'
        %li.current
          = link_to t('.notifications'), notifications_path
