#topics
  .item-list
    - @topics.each do |topic|
      - topic_style = []
      - if current_logined?
        - if topic.tags and current_user.favorite_tags and !(topic.tags & current_user.favorite_tags).empty?
          - topic_style << "tagged-interesting"
        - if topic.user_id == current_user.id
          - topic_style << "own-topic"
      .item{:class => topic_style}
        .left-column.avatar
          = link_gravatar_to_person @user_hash[topic.user_id]
        .right-column
          - anchor = (topic.replies_count == 0 ? nil : "replies-#{topic.replies_count}")
          .title= link_to topic.title, topic_url(topic, :anchor => anchor)
          .reply-count
            = link_to topic.replies_count, topic_url(topic, :anchor => anchor)
          .clear
          .meta
            - if topic.tags
              - topic.tags.each do |tag|
                = link_to tag, tagged_topics_url(:tag => tag)
            = t :creator
            = link_to_person @user_hash[topic.user_id]
            - if topic.last_replied_by_id
              = t :last_replyer
              = link_to_person @user_hash[topic.last_replied_by_id]

            = time_ago_in_words topic.actived_at
            = t :ago
        .clear
  = paginate_for @topics, :hide_page => true

