- if params[:action] == 'index' or params[:action] == 'newest'
  - content_for :head do
    = auto_discovery_link_tag :rss, newest_topics_url(:format => 'rss')

= render :partial => 'subheader', :locals => {:current => @current}

= render :partial => 'topics'

- if params[:action] == 'index' or params[:action] == 'newest'
  .section
    .section-content
      .right
        = image_tag 'rss.png', :align => 'top'
        = link_to t(:subscription_recent_20_topics), newest_topics_url(:format => 'rss')
      .claer

- content_for :sidebar do
  - if current_logined?
    .section
      .section-content
        = link_to t(:create_topic), new_topic_url, :class => 'button'
  = render :partial => 'sidebar'
