= render :partial => 'subheader', :locals => {:current => :active}

#topics
  %ul.item-list
    - @topics.each do |topic|
      %li
        .left-column.avatar
          = image_tag @user_hash[topic.user_id].gravatar_url(:size => 48)
        .right-column
          .title= link_to topic.title, topic
          .reply-count
            = link_to topic.replies_count, topic
          .clear
          .meta
            - if topic.tags
              - topic.tags.each do |tag|
                = link_to tag, '#'
            Create by
            = link_to @user_hash[topic.user_id].profile.name, '#TODO'
            = time_ago_in_words topic.created_at
            ago
            - if topic.last_replied_by_id
              %br/
              Reply by
              = link_to @user_hash[topic.last_replied_by_id].profile.name, '#TODO'
              = time_ago_in_words topic.last_replied_at
            ago
        .clear
  = paginate_for @topics, :hide_page => true

- content_for :sidebar do
  - if current_logined?
    .section
      .section-content
        = link_to 'Create Topic', new_topic_url, :class => 'button'
