= render :partial => 'subheader', :locals => {:current => @current}

= render :partial => 'topics'

= link_to 'test', tagged_topics_url(:tag => 'test', :foramt => 'xml')

- content_for :sidebar do
  - if current_logined?
    .section
      .section-content
        = link_to t(:create_topic), new_topic_url, :class => 'button'
  = render :partial => 'sidebar'
