#topics
  %ul.item-list
    - @topics.each do |topic|
      %li
        .left-column.avatar
          = image_tag topic.user.gravatar_url(:size => 48)
        .right-column
          .title= link_to topic.title, topic
          .reply-count
          .clear
          .meta
            - if topic.tags
              Tags:
              - topic.tags.each do |tag|
                = link_to tag, '#'
            Create by
            = link_to topic.user.profile.name, '#'
            Reply by
            = link_to 'todo', '#'
            = time_ago_in_words topic.created_at
            ago.
        .clear
