- content_for :head do
  - if @rss_path
    = auto_discovery_link_tag :rss, @rss_path

= render :partial => 'subheader'

#topics
  .item-list
    = render :partial => 'topic', :collection => @topics
  = paginate_for @topics, :hide_page => true

- if @rss_path
  .section
    .right
      = image_tag 'rss.png', :class => 'icon'
      = link_to t('.subscription_recent_20_topics'), @rss_path
    .claer

- content_for :sidebar do
  - if current_logined?
    .section
      .section-content
        = link_to t('.create_topic'), new_topic_path, :class => 'button'
  - if current_logined?
    - if params[:action] == 'tagged'
      = render :partial => 'topics/sidebar/current_tag'
