= render :partial => 'subheader', :locals => {:current => :active}

#topics
  %ul.item-list
    - @topics.each do |topic|
      %li
        .left-column.avatar
          = link_gravatar_to_person @user_hash[topic.user_id]
        .right-column
          .title= link_to topic.title, topic
          .reply-count
            = link_to topic.replies_count, topic
          .clear
          .meta
            - if topic.tags
              - topic.tags.each do |tag|
                = link_to tag, '#'
            Create by
            = link_to_person @user_hash[topic.user_id]
            - if topic.last_replied_by_id
              Reply by
              = link_to_person @user_hash[topic.last_replied_by_id]

            = time_ago_in_words topic.actived_at
            ago
        .clear
  = paginate_for @topics, :hide_page => true

- content_for :sidebar do
  - if current_logined?
    .section
      .section-content
        = link_to 'Create Topic', new_topic_url, :class => 'button'
    .section.favorite-tags
      .section-title
        Favorite Tags
      .section-content
        %ul
          - current_user.favorite_tags.each do |tag|
            %li= link_to tag, '#TODO', :class => 'button'
        .clear
        .actions= link_to 'manage tags', settings_favorite_tags_url
    .section.recent-tags
      .section-title
        Recent Tags
      .section-content
        %ul
          - @recent_tags.each do |tag, count|
            %li
              = link_to tag, '#TODO', :class => 'button'
              %span.meta
                x
                = count
        .clear
