- content_for :head do
  - if params[:action] == 'index' or params[:action] == 'newest'
    = auto_discovery_link_tag :rss, newest_topics_path(:format => 'rss')
  - if params[:action] == 'interesting'
    = auto_discovery_link_tag :rss, interesting_topics_path(:format => 'rss', :token => current_user.access_token)
  :javascript
    function prepare_ajax_link() {
      $('#tabs a, .tag a, .paginate a').live('ajax:beforeSend', function(event, xhr, settings) {
        if ($(this).data('direction')) {
          $('#topics').data('direction', $(this).data('direction'));
        }
        show_loading_notice();
        if (history && history.pushState) {
          history.pushState(null, document.title, this.href);
        }
      });
      $('#tabs a, .tag a, .paginate a').live('ajax:complete', function(event, data, status, xhr) {
        hide_loading_notice();
      });
    }
    prepare_ajax_link();

= render :partial => 'subheader', :locals => {:remote => true}

= render :partial => 'topics'

- content_for :sidebar do
  - if current_logined?
    .section
      .section-content
        = link_to t('.create_topic'), new_topic_path, :class => 'button'
  - if current_logined?
    = render :partial => 'topics/sidebar/favorite_tags'
    - if params[:action] == 'tagged'
      = render :partial => 'topics/sidebar/current_tag'
  = render :partial => 'topics/sidebar/recent_tags'
