- @page_title = t('.page_title')

- content_for :head do
  = javascript_include_tag 'wmd.combined.min'
  = stylesheet_link_tag 'wmd'

= render :partial => 'subheader'

#new-topic-form.section
  .section-title
    %h2= t '.new_topic'
  .section-content
    = form_for @topic do |f|
      = render :partial => 'form', :object => f
      .field
        = f.submit t('.create'), :class => 'button'
