- content_for :head do
  - if current_logined?
    = javascript_include_tag 'showdown', 'wmd'
    = stylesheet_link_tag 'wmd'
  = javascript_include_tag 'jquery.ae.image.resize.min', 'fancybox/jquery.fancybox-1.3.4.pack', 'topic-show'
  = stylesheet_link_tag '/javascripts/fancybox/jquery.fancybox-1.3.4.css'

= render :partial => 'subheader'

#topic
  .header
    %h1= @topic.title
    .meta
      - if @topic.tags
        - @topic.tags.each do |tag|
          = link_to tag, tagged_topics_url(:tag => tag)
      = t '.creator'
      = link_to_person @user_hash[@topic.user_id]
      = time_ago_in_words @topic.created_at
      = t '.ago'
  .avatar
    = link_gravatar_to_person @user_hash[@topic.user_id], :size => 64
  .clear
  .content~ rich_content @topic.content
  - if @topic.edited_at
    .meta
      = t '.edited_at'
      = time_ago_in_words @topic.edited_at
      = t '.ago'
  - if current_logined? and @topic.user_id == current_user.id and !@user_hash[@topic.user_id].banned?
    .actions
      = link_to t('.edit'), edit_topic_url(@topic)
  - if show_admin_link?
    .actions
      = link_to t('.manage'), admin_topic_url(@topic), :target => '_blank'

- if site_config.layout.topic_bottom_html.present?
  .section
    .section-content
      = raw site_config.layout.topic_bottom_html

#replies
  .item-list
    - @replies.each do |reply|
      .item{:id => "reply-#{reply.id}"}
        .left-column.avatar
          = link_gravatar_to_person @user_hash[reply.user_id]
        .right-column
          .meta
            %span.author= link_to_person @user_hash[reply.user_id]
            %span.right.quiet
              = link_to "#{time_ago_in_words reply.created_at} #{t '.ago'}", topic_url(@topic, :page => @replies.current_page, :anchor => "reply-#{reply.id}")
              = link_to_function "@", "append_mention('#{@user_hash[reply.user_id].username}')"
          .content~ rich_content reply.content
          - if reply.created_at != reply.updated_at
            .meta
              = t '.edited_at'
              = time_ago_in_words reply.updated_at
              = t '.ago'
          - if current_logined? and reply.user_id == current_user.id and !@user_hash[reply.user_id].banned?
            .actions
              = link_to t('.edit'), edit_reply_url(reply)
          - if show_admin_link?
            .actions
              = link_to t('.manage'), admin_reply_url(reply), :target => '_blank'
        .clear
  = paginate_for @replies

#reply-form.section
  .section-title
    %h2= t '.leave_a_reply'
    %a{:name => '#reply-form'}
  .section-content
    - if !current_logined?
      .meta
        = t '.please'
        = link_to t('.login'), login_url(:return_to => topic_url(@topic, :anchor => "reply-form")), :class => 'button'
        = t '.or'
        = link_to t('.signup'), login_url(:return_to => topic_url(@topic, :anchor => "reply-form")), :class => 'button'
    - elsif current_user.banned?
      .meta= t '.you_had_been_ban'
    - elsif @topic.closed?
      .meta= t '.topic_had_been_closed'
    - else
      .meta
        = t '.you_are'
        = link_to_person current_user
      .left-column.avatar
        = link_gravatar_to_person current_user
      .right-column
        = form_for @reply do |f|
          = render :partial => 'replies/form', :object => f
          .field
            = f.submit t('.post'), :class => 'button'
      .clear

- if current_admin?
  .section
    .section-content
      .actions= switch_admin_mode

- content_for :sidebar do
  - if current_logined? and !current_user.banned?
    .section
      .section-title
        = t '.collect_topic'
      .section-content
        - if @topic.marker_ids.to_a.include? current_user.id
          = button_to t('.unmark'), mark_topic_url(@topic), :method => :delete, :class => 'button reverse'
        - else
          = button_to t('.mark'), mark_topic_url(@topic), :method => :post, :class => 'button'
        .meta
          = t '.marker_count', :count => @topic.marker_ids.to_a.count
