- if current_logined?
  - content_for :head do
    = javascript_include_tag 'showdown', 'wmd'
    = stylesheet_link_tag 'wmd'

= render :partial => 'subheader'

#topic
  .header
    %h1= @topic.title
    .meta
      - if @topic.tags
        Tags:
        - @topic.tags.each do |tag|
          = link_to tag, '#'
      Create by
      = link_to_person @user_hash[@topic.user_id]
      = time_ago_in_words @topic.created_at
      ago.
      - if current_logined? and @topic.user_id == current_user.id
        = link_to 'Edit', edit_topic_url(@topic)
  .avatar
    = link_gravatar_to_person @user_hash[@topic.user_id], :size => 64
  .clear
  .content= @topic.content
#replies
  %ul.item-list
    - @replies.each do |reply|
      %li{:id => "reply-#{reply.id}"}
        .left-column.avatar
          = link_gravatar_to_person @user_hash[reply.user_id]
        .right-column
          .meta
            %a{:name => "#{reply.id}"}
            %span.author= link_to_person @user_hash[reply.user_id]
            %span.time
              - if current_logined? and reply.user_id == current_user.id
                = link_to 'Edit', edit_reply_url(reply)
              = time_ago_in_words reply.created_at
              ago
          .content= reply.content
        .clear
  = paginate_for @replies

#reply-form.section
  .section-title
    %h2 Leave a reply
    %a{:name => '#reply-form'}
  .section-content
    - if current_logined?
      .meta
        Login as
        = link_to_person current_user
      .left-column.avatar
        = link_gravatar_to_person current_user
      .right-column
        = form_for @reply do |f|
          = render :partial => 'replies/form', :object => f
          .field
            = f.submit 'Post', :class => 'button'
      .clear
    - else
      .meta
        = link_to 'Login', login_url(:return_to => topic_url(@topic, :anchor => "reply-form")), :class => 'button'
        for reply.
