= render :partial => 'subheader'

#topic
  .header
    %h1= @topic.title
    .meta
      - if @topic.tags
        Tags:
        - @topic.tags.each do |tag|
          = link_to tag, '#'
      Create by
      = link_to @topic.user.profile.name, '#'
      = time_ago_in_words @topic.created_at
      ago.
  .avatar
    = image_tag @topic.user.gravatar_url(:size => 64)
  .clear
  .content= @topic.content
#replies
  %ul.item-list
    - @replies.each do |reply|
      %li
        .left-column.avatar
          = image_tag reply.user.gravatar_url(:size => 48)
        .right-column
          .meta
            %span.author= link_to reply.user.profile.name, '#'
            %span.time
              = time_ago_in_words reply.created_at
              ago
          .content= reply.content
        .clear
