= render :partial => 'subheader'

#topic
  .header
    %h1= @topic.title
    .meta
      - if @topic.tags
        Tags:
        - @topic.tags.each do |tag|
          = link_to tag, '#'
      Create by
      = link_to @user_hash[@topic.user_id].profile.name, '#'
      = time_ago_in_words @topic.created_at
      ago.
      - if current_logined? and @topic.user == current_user
        = link_to 'Edit', edit_topic_url(@topic)
  .avatar
    = image_tag @user_hash[@topic.user_id].gravatar_url(:size => 64)
  .clear
  .content= @topic.content
#replies
  %ul.item-list
    - @replies.each do |reply|
      %li{:id => "reply-#{reply.id}"}
        .left-column.avatar
          = image_tag @user_hash[reply.user_id].gravatar_url(:size => 48)
        .right-column
          .meta
            %a{:name => "#{reply.id}"}
            %span.author= link_to @user_hash[reply.user_id].profile.name, '#'
            %span.time
              - if current_logined? and reply.user == current_user
                = link_to 'Edit', edit_reply_url(reply)
              = time_ago_in_words reply.created_at
              ago
          .content= reply.content
        .clear
  = paginate_for @replies

#reply-form.section
  .section-title
    %h2 Leave a reply
  .section-content
    - if current_logined?
      .meta
        Login as
        = link_to current_user.profile.name, '#TODO'
      .left-column.avatar
        = image_tag current_user.gravatar_url(:size => 48)
      .right-column
        = form_for @reply do |f|
          = render :partial => 'replies/form', :object => f
          .field
            = f.submit 'Post', :class => 'button'
      .clear
    - else
      .meta
        = link_to 'Login', login_url, :class => 'button'
        for reply.
