#subheader
  #mascot
    %img{:src => '/images/mascot.png'}
  #tabs
    %ul
      %li
        = link_to 'Active', topics_url
      %li.tagged-interesting
        = link_to 'Interesting', topics_url
      %li.own-topic
        = link_to 'Own', topics_url
      %li
        = link_to 'Newest', topics_url
      %li
        = link_to 'Collect', topics_url
      %li.current
        = link_to @tag, tagged_topics_url(:tag => @tag)
  .clear

= render :partial => 'topics'

- content_for :sidebar do
  - if current_logined?
    .section
      .section-content
        = link_to 'Create Topic', new_topic_url, :class => 'button'
    .section
      .section-title
        Tag:
        = @tag
      .section-content
        - if current_user.favorite_tags.include? @tag
          = button_to 'remove from favorites', settings_favorite_tags_url(:tags => @tag, :return_to => tagged_topics_url(:tag => @tag)), :method => :delete, :class => 'button reverse'
        - else
          = button_to 'add to favorite', settings_favorite_tags_url(:tags => @tag, :return_to => tagged_topics_url(:tag => @tag)), :method => :post, :class => 'button'
  = render :partial => 'sidebar'
