#nav
  = link_to t('.dashboard'), admin_dashboard_path, :class => 'button'
  = link_to t('.topics'), admin_topics_path, :class => 'button'
  = link_to t('.replies'), admin_replies_path, :class => 'button'
  = link_to t('.users'), admin_users_path, :class => 'button'
  = link_to t('.site_config'), admin_site_config_path, :class => 'button'
