#nav
  = link_to t('.dashboard'), admin_dashboard_url, :class => 'button'
  = link_to t('.topics'), admin_topics_url, :class => 'button'
  = link_to t('.replies'), admin_replies_url, :class => 'button'
  = link_to t('.users'), admin_users_url, :class => 'button'
  = link_to t('.site_config'), admin_site_config_url, :class => 'button'
