= render :partial => 'settings/subheader', :locals => {:current => :favorite_tags}

.section
  .section-title
    %h2= t '.favorite_tags'
  .section-content
    = form_tag({:action => :create}, :remote => true) do
      .field
        = text_field_tag :tags, nil, :class => 'text long-text'
        = submit_tag t('.add'), :class => 'button'
        .meta= t '.favorite_tags_tips'

- if !@favorite_tags.blank?
  .section
    .section-content
      %ul#favorite-tags
        - @favorite_tags.each do |tag|
          = render :partial => 'tag', :object => tag
