= render :partial => 'admin/nav'

#topics
  %table.data-table
    - @topics.each do |topic|
      %tr{:class => cycle("even", "odd")}
        %td.title= link_to topic.title, admin_topic_url(topic)
        %td= @user_hash[topic.user_id].profile.name
        %td.time= l topic.created_at, :format => :short
  = paginate_for @topics
