= render :partial => 'topics/subheader', :locals => {:current => :notifications}

.section
  .section-content.item-list
    - if @notifications.blank?
      = t :no_notification
    - else
      - @notifications.each do |notification|
        .item{:id => "notification-#{notification.id}"}
          .meta
            .left
              - case notification
              - when Notification::Mention
                - if @user_hash[notification.reply_user_id]
                  = link_to_person @user_hash[notification.reply_user_id] 
                - else
                  = t '.deleted_user'
                = t '.in'
                - if @topic_hash[notification.topic_id]
                  = link_to @topic_hash[notification.topic_id].title, topic_url_with_last_anchor(@topic_hash[notification.topic_id])
                - else
                  = t '.deleted_topic'
                = t '.mention_you'
              - else
                = t '.notification'
              = smart_time_string notification.created_at
            .right
              = link_to 'x', notification_url(notification), :method => :delete, :remote => true
            .clear
          %blockquote= notification.text
