#subheader
  #mascot
    %img{:src => '/images/mascot.png'}
  #tabs
    %ul
      %li.current
        = link_to t(:notifications), notifications_url
  .clear

.section
  .section-content.item-list
    - if @notifications.blank?
      = t :no_notification
    - else
      - @notifications.each do |notification|
        .item{:id => "notification-#{notification.id}"}
          .meta
            .left
              - case notification
              - when Notification::Mention
                = link_to_person notification.reply_user
                = t :in_topic
                = link_to notification.topic.title, notification.topic, :target => '_blank'
                = t :mention_you
              - else
                = t :notification
              = time_ago_in_words notification.created_at
              = t :ago
            .right
              = link_to 'x', notification_url(notification), :method => :delete, :remote => true
            .clear
          %blockquote= notification.text
