.section
  .section-title
    %h2 Signup
  .section-content
    = form_for @user do |f|
      - if !@user.errors.blank?
        .error= @user.errors.full_messages
      %table.form-table
        %tr
          %th= f.label :username
          %td
            = f.text_field :username, :class => 'text'
            .meta Letters only, 3-20 chars long, require
        %tr
          %th= f.label :email
          %td
            = f.text_field :email, :class => 'text'
            .meta Never be published, require
        %tr
          %th= f.label :password
          %td
            = f.password_field :password, :class => 'text'
            .meta At least 6 chars long
        %tr
          %th= f.label :password_confirmation, 'Password Again'
          %td
            = f.password_field :password_confirmation, :class => 'text'
        %tr
          %th
          %td= f.submit 'Signup', :class => 'button'
