- @page_title = t('.page_title')

= render :partial => 'admin/nav'

#users
  %table.data-table
    - @users.each do |user|
      %tr{:class => cycle("even", "odd")}
        %td= link_to user.profile.name, admin_user_path(user)
        %td= user.username
        %td= user.email
        %td.time= l user.created_at, :format => :short
  = paginate_for @users
