= render :partial => 'admin/nav'

#user
  = link_to person_url(:username => @user.username), person_url(:username => @user.username), :target => '_blank'
  %table.nice-table
    %tr
      %th username
      %td= @user.username
    %tr
      %th email
      %td= @user.email
    %tr
      %th gravatar
      %td= image_tag @user.gravatar_url(:size => 48)
    %tr
      %th url
      %td= @user.profile.url
    %tr
      %th twitter
      %td= @user.profile.twitter
    %tr
      %th description
      %td= sanitize simple_format(auto_link(@user.profile.description))
    %tr
      %th banned
      %td= @user.banned?
    %tr
      %th topics
      %td= @user.topics.count
    %tr
      %th replies
      %td= @user.replies.count

#manage
  - if @user.banned?
    .left= button_to 'Unban', ban_admin_user_url(@user), :method => :delete, :class => 'button'
  - else
    .left= button_to 'Ban', ban_admin_user_url(@user), :method => :post, :class => 'button'
    .left= button_to 'Ban and Clean', ban_and_clean_admin_user_url(@user), :method => :post, :confirm => 'Sure?', :class => 'button'
  .right
    = button_to 'Delete', admin_user_url(@user), :method => :delete, :confirm => 'Sure?', :class => 'button'
  .clear
