.dialog
  = form_for :user, :url => user_session_url(:return_to => params[:return_to]) do |f|
    - if flash[:error]
      .error= flash[:error]
    .field
      = f.label :login, t(:login_name)
      %br
      = f.text_field :login, :class => 'text'
      .tips= t 'tips.login.login_name'
    .field
      = f.label :password, t(:password)
      %br
      = f.password_field :password, :class => 'text'
    .field
      = f.submit t(:login), :class => 'button'
      = f.check_box :remember_me
      %span.tips= f.label :remember_me, t('tips.login.remember_me')

.message
  .tips
    = t :not_have_account_yet
    = link_to t(:signup), signup_url
