.dialog
  = form_for :user, :url => user_session_path(:return_to => params[:return_to]) do |f|
    - if flash[:error]
      .error= flash[:error]
    .field
      = f.label :login, t('.login_tips')
      %br
      = f.text_field :login, :class => 'text'
    .field
      = f.label :password, t('.password')
      %br
      = f.password_field :password, :class => 'text'
    .field
      = f.submit t('.login'), :class => 'button'
      = f.check_box :remember_me
      %span.tips= f.label :remember_me, t('.remember_me_tips')

.message
  .tips
    %p
      = t '.not_have_account_yet'
      = link_to t('.signup'), signup_path
    %p
      = t '.forgot_password'
      = link_to t('.reset_password'), new_reset_password_path
