.section
  .section-title
    %h2 Login
  .section-content
    = form_for :user, :url => user_session_url do |f|
      %table.form-table
        %tr
          %th
            %label Login
          %td
            = f.text_field :login, :class => 'text'
            .meta username or email
        %tr
          %th
            %label Password
          %td
            = f.password_field :password, :class => 'text'
        %tr
          %th
          %td
            = f.submit :Login, :class => 'button'
            = f.check_box :remember_me
            %span.tips= f.label :remember_me
