- @page_title = t('.page_title')

= render :partial => 'settings/subheader', :locals => {:current => :profile}

.section
  .section-content
    = form_for @profile, :url => settings_profile_path, :method => :put do |f|
      - if !f.object.errors.blank?
        = render :partial => 'share/error_messages', :locals => {:object => f.object}
      %table.form-table
        %tr
          %th
            %label= t '.avatar'
          %td
            = image_tag @profile.user.gravatar_url(:size => 128), :alt => 'gravatar'
            .tips
              %p
                = t '.gravatar_tips'
                (
                = link_to t('.what_is_gravatar'), 'http://www.gravatar.com/'
                )
                %br/
                = link_to t('.change_email'), settings_account_path
                = '/'
                = link_to t('.go_to_gravatar'), 'http://www.gravatar.com/'
        %tr
          %th= f.label :name
          %td= f.text_field :name, :class => 'text', :maxlength => 20
        %tr
          %th= f.label :url
          %td
            = f.text_field :url, :class => 'text', :maxlength => 100
        %tr
          %th= f.label :twitter
          %td
            = f.text_field :twitter, :class => 'text', :maxlength => 15

        %tr
          %th= f.label :description
          %td
            = f.text_area :description
        %tr
          %th
          %td= f.submit t('.save'), :class => 'button'
