.dialog
  = form_tag url_for(:action => :update, :token => params[:token]), {:method => :put} do
    - if !@user.errors.blank?
      = render :partial => 'share/error_messages', :locals => {:object => @user}
    .field
      = label_tag :new_password, t(:new_password)
      = password_field_tag :new_password, nil, :class => 'text'
    .field
      = label_tag :new_password_confirmation, t(:new_password_confirmation)
      = password_field_tag :new_password_confirmation, nil, :class => 'text'
    .field
      = submit_tag t(:post), :class => 'button'
