!!! 5
%html
  %head
    %meta{ "charset" => "utf-8" }
    %title= page_title
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = stylesheet_link_tag 'style'
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.position.js"
    = yield :head
    = csrf_meta_tag
    - if show_head_html?
      = raw site_config.layout.head_html
  %body
    #header
      .center-wraper
        #logo
          = link_to APP_CONFIG['site_name'], root_path
        = render :partial => 'share/top_menu'
    #content
      .center-wraper
        #mainbar
          - if flash[:success]
            .success.flash
              = flash[:success]
              %span.close x
          - if flash[:error]
            .error.flash
              = flash[:error]
              %span.close x
          - if flash[:notice]
            .notice.flash
              = flash[:notice]
              %span.close x
          #loading-notice
            = t '.loading'
          = yield
        #sidebar
          = render :partial => 'share/sidebar_profile'
          = yield :sidebar
          - if show_sidebar_bottom_html?
            = raw site_config.layout.sidebar_bottom_html
    #footer
      .center-wraper
        #bottom-menu
          %ul
        #copyright
          @ Copyright
          = link_to APP_CONFIG['site_name'], root_path
          |
          Power by
          = link_to 'Campo', 'https://github.com/chloerei/campo', :target => '_blank'
    = yield :last
